.path-mod-sadkofile .sadkofilecontent {
    text-align: center;
}

.path-mod-sadkofile .sadkofiledetails {
    font-size: 0.8em;
    color: #555;
}

.sadkofilelinkdetails {
    font-size: 0.8em;
    color: #555;
}
